<{include file="header.html"}>

<body>

<div class="blueline">

</div>

<div id="header">

	<div class="wrap">
		<{include file="block_top.html"}>
	</div>

</div>

<div class="wrap">

	<div id="content_pages">
		<{if $message}>
		<blockquote><{$message}></blockquote>
		<{/if}>
		<form action="checklogin.php" method="post">
		<table>
			<tr>
				<td>
					Username
				</td>
				<td>
					<input name="username" id="username" />
				</td>
			</tr>
			<tr>
				<td>
					Password
				</td>
				<td>
					<input name="password" id="password" type="password" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Login" /></td>
			</tr>
		</table>
		</form>

	</div>

</div>
<{include file="footer.html"}>
</body>
</html>